<?xml version="1.0"?>
<launch>

    <arg name="robot_namespace" default="/scout_description"/>
    <arg name="world_name" default="$(find gazebo_ros)/launch/empty_world.launch"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    

    <include file="$(find darknet_ros)/launch/us_ISS.launch"></include>
    <include file="$(find darknet_ros)/launch/spawn_scout_mini.launch"></include>
    <!-- <include file="$(find darknet_ros)/launch/us_spaceshuttle.launch"></include> -->
    <include file="$(find darknet_ros)/launch/darknet_ros.launch"></include>

    <!-- <node pkg="r2000_commander" name="r2000_box_detector" type="box_detector.py" output="screen"/> -->
        
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find darknet_ros)/rviz/navigation.rviz"/>
</launch>
